.contact-section {
    margin: 4rem 4rem;
    display: flex;
    justify-content: space-between;
}

.contact-details {
    width: 45%;
}

.contact-details img {
    height: 300px;
    width: 100%;
}

.contact-details hr {
    margin: 10px 0 20px 0;
}

.contact-details h3 {
    margin-top: 50px;
    letter-spacing: 1px;
    font-size: larger;
}

.contact-details p {
    font-size: large;
    letter-spacing: 1px;
}

.contact-form {
    width: 45%;
    animation: textIn 1.5s ease;
}

.contact-form h1 {
    text-align: center;
}

.contact-form form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.contact-form input {
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;

}

.contact-form textarea {
    height: 7rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.contact-form button {
    display: inline;
    width: 100%;
    margin: auto;
    color: white;
    background-color: rgba(7, 150, 245, 0.5);
    letter-spacing: 1px;
}

.contact-form label {
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: larger;
}

@media screen and (max-width:950px) {
    .contact-section {
        margin: 4rem 2rem;
        flex-direction: column;
        align-items: center;
        font-size: large;
    }

    .contact-details {
        width: 80%;
        padding: 0;
    }

    .contact-form {
        width: 80%;
        padding: 0;
        margin-top: 5rem;
    }
}

@media screen and (max-width:555px) {
    .contact-section {
        font-size: smaller;
    }

    .contact-details img {
        height: 180px;
    }

    .contact-details p {
        font-size: medium;
    }
}