a {
    text-decoration: none;
}

nav {
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 15%;
    position: absolute;
}

.Navbar-logo {
    color: rgba(45, 78, 168, 0.884);
    cursor: default;
    font-size: 40px;
    height: 50px;
    text-decoration: underline rgba(45, 78, 168, 0.884);
}

.logo-tiles {
    color: rgb(250, 38, 169);
    font-weight: bold;
    cursor: default;
}

.Navbar-items {
    display: flex;
    width: 95%;
    height: 70px;
    justify-content: space-between;
    padding: 0 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    border-radius: 13px;
    background-color: rgba(239, 247, 250, 0.897);
    z-index: 9999;
}

.Navbar-menu {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    list-style: none;

}

.nav-links {
    color: rgb(15, 14, 14);
    font-weight: 600;
    padding: 5px 7px;
    white-space: nowrap;

}

i {
    padding-right: 10px;
}

.nav-links:hover {
    color: white;
    background-color: rgba(49, 43, 43, 0.699);
    transition: all0.2s ease-in-out;
    border-radius: 6px;

}

button {
    padding: 10px 10px;
    white-space: nowrap;
    border-radius: 5px;
    background-color: rgb(77, 41, 173);
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 15px;
    transition: 0.2s ease-in-out;
}

.Nav-links-sign {
    color: white;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu i {
    font-size: 20px;

}

button:hover {
    transform: scale(1.1);
}

@media screen and (max-width:850px) {
    .mobile-menu {
        margin-top: 12px;
        display: block;
        color: rgb(8, 8, 37, 0.911);
        margin-top: 20px;

    }

    .Navbar-items {
        height: 60px;
        position: absolute;
    }

    .Navbar-logo {
        font-size: 25px;
        height: 30px;
    }

    .Navbar-menu {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.938);
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        padding: 65px 0 20px 0;
        align-items: stretch;
        opacity: 0;
        z-index: 2;
        border-radius: 10px;
        transition: 0.3s ease-in-out;
    }

    .Navbar-menu.active {
        left: 0;
        z-index: -2;
        opacity: 1;
        transition: 0.3s ease-in-out;

    }

    .nav-links {
        display: block;
        padding: 10px;
        color: black;

    }

    .nav-links:hover {
        background-color: rgb(39, 7, 112);
        color: white;

    }

    button {
        background-color: rgba(217, 217, 247, 0);
    }

    .Nav-links-sign {
        display: block;
        padding: 10px;
        color: black;
        width: 95.5%;
        margin-left: 10px;

    }

    .Nav-links-sign:hover {
        color: white;
        background-color: rgb(39, 7, 112);

    }
}